body{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;

}

    
    

.imgSkills{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}
.mypic{
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid black;
    
}

.bio{
    border-bottom: 1px double black;
    border-top: 1px double black;
    margin-top:20px;
    font-size: 1.5em;
    text-align: center;
    padding: 100px 20px;
    line-height: 3em;
    
}
.skills{
    background: #234466;
    /* margin-bottom: 50px; */
    
}
.projects{
    background:#234466;
   

}
#projects, #contact-title{
    display: flex;
    justify-content: center;
}

.projImg{
    height: 300px;
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.projP{
    display: flex;
    justify-content: center;
    
}
.projT{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
}
.contact-info{
    background-color: #234466;
    display: block;
    margin: auto;

}
.cImg{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    
}
.bjmain{
    display: block;
    margin: auto;
    margin: 25 0 25 0;
    max-width: 80%;
    background-color: #1f2625
}
.bjtitle{
    display: block;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 150px;
    
}
.activityfinder{
    margin-top: 100px;
    max-width:100%;
    max-height:100%;
    display: block;
    margin: auto;
}
.activity-title{
    max-width: 25%;
    max-height: 25%;
    display: block;
    margin: auto;
}
.nav{
    text-decoration: none !important;
    color: white;
    margin-right: 40px;
    padding: 5px;
    width: 100%;
    background-color: #1f2625;
   
}
.email{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}
.blackjack{
    background-color: #234466;
}
.blackjackBio{
    background-color: #234466;

}
.summaryTitle{
    display: flex;
    justify-content: center;
}
.bj1{
    max-width: 100%;
    margin-bottom: 20px;

}
.projBio{
    margin-top: 20px;
    background-color: #1f2625;
    padding: 10px;
}
.bj2{
    max-width: 100%;
    padding: 10px;
}
.afmain{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
    height: 600px;
    background-color: #1f2625
}
#text{
    display:flex;
    justify-content: center;
    
}
.githubnav{
    background-color: white;
    display: inline-block;
    margin-right: 75%;
}
.vid{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
#emailA{
    text-decoration: none !important;
}
